
.prevent-select-about {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .prevent-select-resume {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

 #header h1 a:hover {
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5);
    transform: scale(1.5); 
  }

  